In [13]:
import pandas as pd
import numpy as np

# Create a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['NY', 'LA', 'Chicago', 'Miami']
}

df = pd.DataFrame(data) #assign data to df

df = df.rename(columns={'Fame': 'Tame'}) #change column name of df

# View DataFrame
df

      Name  Age     City
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   35  Chicago
3    David   40    Miami

In [ ]:
# Create a Simple Dataframe
# data = {
#     'Name': ['Alice', 'Bob', 'Charlie', 'David'],
#     'Age' : [25, 30, 35, 40],
#     'City' : ['Ny', 'LA', 'Chicago', 'Miami']

#  }
# print(df)

In [ ]:
# import numpy as np
# import pandas as pd

# students = {
#     'name':['Samir', 'Tulsi', 'Jarshana', 'Manju', 'Neerja', 'Nitish', 'Nistha', 'Roshan'],
#     'age' : [23, 24, 25, 26, 27, 28, 29, 30],
#     'ID' : [1, 2, 3, 4, 5, 6, 7, 8],
#     'city': ['CA', 'TX', 'BT', 'NM', 'PA', 'TX', 'CA', 'CA']
# }

# df = pd.DataFrame(students)
# print(df)

In [ ]:
# import numpy as np
# import pandas as pd

# groceries = {
#     'items' : ['Apple', 'tea bag', 'rice', 'flour', 'juice'],
#     'quantity': [ 2, 1, 1, 1, 4],
#     'price' : [2, 3, 4, 5, 6 ]

# }
# df = pd.DataFrame(groceries)
# print(df)
# df.head()
# df.shape
# df. columns
# df.dtypes
# df.info()
# df.describe()